@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 17px 0 rgb(0 0 0/50%);
  }
}

.dropdownItems{
}

.footerAvani1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.footersect {
  position: absolute;
  width: 85.25%;
  top: 14975px;
  right: 7.35%;
  left: 7.4%;
  height: 393.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.myCoaches {
  position: absolute;
  top: 4524px;
  left: calc(50% - 361px);
  line-height: 50px;
  font-family: var(--font-dirtyline-36daysoftype-2022);
}
.child,
.div {
  position: relative;
}
.div {
  font-size: var(--font-size-61xl);
  line-height: 50px;
  font-weight: 900;
  font-family: var(--font-silka);
  color: var(--color-white);
  text-align: left;
}
.child {
  width: 300px;
  border-radius: var(--br-base);
  background-color: var(--color-darkslategray);
  height: 5px;
}
.button,
.button4,
.years {
  display: flex;
  flex-direction: column;
}
.button,
.button4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
}
.button4:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
.years {
  position: absolute;
  top: 0;
  left: calc(50% - 150px);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-231xl);
}
.silverIcon {
  width: 80px;
  position: relative;
  height: 80px;
  object-fit: cover;
}
.icn,
.icn3,
.inc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.icn3,
.inc {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-31xl);
}
.icn3 {
  align-items: center;
}
.icons,
.stats {
  position: absolute;
  left: calc(50% - 365px);
}
.icons {
  top: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-231xl);
}
.stats {
  top: 206px;
  width: 100%;
  height: 1491px;
}
.clickToExpand {
  position: absolute;
  top: 0;
  left: calc(50% - 142.5px);
  line-height: 50px;
}
.achievements,
.instruction {
  position: absolute;
  top: 0;
  left: calc(50% - 142px);
  width: 285px;
  height: 50px;
}
.achievements {
  top: 2424px;
  left: calc(50% - 365px);
  width: 730px;
  height: 1697px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: #7c7c7c;
  justify-content: center;
  align-items: center;
}
.myAchievements {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 98px;
}
.achievements1 {
  position: absolute;
  top: 2224px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; 
  max-width: 1096px;
  height: auto; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-family: var(--font-dirtyline-36daysoftype-2022);
  font-size: 9vw; 
}
.aboutimgIcon {
  width: 1920px;
  position: relative;
  height: 1080px;
  object-fit: cover;
}
.aboutmebg {
  position: absolute;
  top: 924px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1940px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.gradient3Child {
  width: 1922px;
  position: relative;
  background: linear-gradient(180deg, transparent, #0e0e0e 79.86%);
  height: 426px;
}
.gradient3 {
  position: absolute;
  top: 1624px;
  left: calc(50% - 971px);
  width: 1942px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.gradient2Child {
  width: 1922px;
  position: relative;
  background: linear-gradient(0deg, transparent, #0e0e0e 79.86%);
  height: 776px;
}
.gradient2 {
  position: absolute;
  top: 824px;
  left: calc(50% - 971px);
  width: 1942px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.iHaveBeen {
  margin: 0;
}
.iHaveBeenContainer {
  flex: 1;
  position: relative;
  line-height: 50px;
  text-shadow: 0 0 20px #000;
}
.aboutdes {
  position: absolute;
  width: 84.07%;
  top: 824px;
  right: 7.91%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: 2.5vw;
  color: var(--color-darkgray);
}
.heroimgIcon {
  width: 100%;
  max-width: 1812px;
  height: auto;
  object-fit: cover;

}

.herobg {
  position: absolute;
  top: 101px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1940px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
/*
@media (max-width: 1200px) {
  .heroimgIcon {
    max-width: 1500px; 
  }
  .herobg {
    top: 140px;
  }
}

@media (max-width: 992px) {
  .heroimgIcon {
    max-width: 1200px;
  }
  .herobg {
    top: 120px; 
  }
}

@media (max-width: 768px) {
  .heroimgIcon {
    max-width: 900px; 
  }
  .herobg {
    top: 100px; 
  }
}

@media (max-width: 576px) {
  .heroimgIcon {
    
  }
  .herobg {}
}

*/

.gradient1Child {
  width: 1922px;
  position: relative;
  background: linear-gradient(180deg, transparent, #0e0e0e);
  height: 469px;
}
.gradient1 {
  position: absolute;
  top: 284px;
  left: calc(50% - 904px);
  width: 1942px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.frameChild {
  position: absolute;
  top: 700px;
  left: 40%;
  transform: translateX(117px);
  max-height: 100%;
  width: 2vw;
  max-width: 44.2px;
  object-fit: contain;
}
.iAmAn {
  width: 777px;
  position: relative;
  line-height: 50px;
  display: inline-block;
  flex-shrink: 0;
  font-style: italic;
}
.intro2 {
  position: absolute;
  width: 44.25%;
  top: 605px;
  right: 26.81%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  /*font-size: var(--font-size-17xl);*/
  font-size: 2vw;
  color: var(--color-darkgray);
}
.hiIAm {
  align-self: stretch;
  width: 1082px;
  position: relative;
  line-height: 50px;
  display: inline-block;
  flex-shrink: 0;
  font-size: 50px;
  font-weight: 900;
}
.intro {
  position: absolute;
  top: 538px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 1102px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  /*font-size: var(--font-size-61xl);*/
  font-size: 4vw; 

}
.frameItem {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  width: 1920px;
  max-width: 1921px;
  height: 165px;
}

.avaniLogoCondensed1 {
  width: 100%;
  max-width: 191px;
  height: auto;
  object-fit: cover;
}

.logo {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs);
  background-color: transparent;
  position: absolute;
  top: -10px;
  left: 109px;
  width: 117vw; /*vw w ref to top and left padding */
  max-width: 191px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .gradient1, .gradient2, .gradient3 {
    max-width: 1500px; 
  }
  .gradient1 {
    top: 124px;
  }
  .gradient2{
    top: 800px;
  }
  .gradient3{
    top: 1524px;
  }
  .intro, .intro2, .aboutdes {
    font-size: 3vw; 
  }
  .intro{
    top: 450px;
  }
  .intro2{
    top: 500px; 
  }
  .aboutdes {
    top: 688px;
  }  
  .frameChild {
    top: 600px; 
    width: 4vw; 
    transform: translateX(68px);
  }
  .aboutmebg {
    top: 800px; 
    max-width: 1300px;
  }
}
@media (max-width: 768px) {ld
  .logo {
    width: 15vw;
  }
  .gradient1, .gradient2, .gradient3 {

    max-width: 1500px;

  }
  .gradient1{
    top: 100px; 
  }
  .gradient2{
    top: 624px;
  }
  .gradient3{
    top: 1424px;
  }
  .intro {
    top: 400px; 
    font-size: 2.5vw; 
  }
  .intro2 {
    top: 450px; 
    font-size: 3.5vw; 
  }
  .aboutdes {
    top: 624px; 
    font-size: 3.5vw;
  }
  .frameChild {
    top: 550px; 
    width: 5vw; 
    transform: translateX(48px);
  }
  .aboutmebg {
    top: 754px; 
    max-width: 1000px;
  }

}

@media (max-width: 480px) {
  .logo {
    width: 20vw; 
  }
  .gradient1 {
    top: 50px;
    max-width: 700px;
  }

  .intro {
    top: 350px;
    font-size: 2vw;
  }
  .intro2 {
    top: 400px;
    font-size: 4vw; 
  }
  frameChild {
    top: 500px; 
    width: 6vw; 
  }
}

.line,
.lineChild,
.logo {
  box-sizing: border-box;
}
.lineChild {
  width: 1505px;
  position: relative;
  border-top: 5px solid var(--color-white);
  height: 5px;
}
.line {
  position: absolute;
  top: 95px;
  left: 245px;
  width: 1523px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
}
.about,
.achievements2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 118px;
  position: relative;
  font-size: var(--font-size-16xl);
  line-height: 50px;
  font-family: var(--font-dirtyline-36daysoftype-2022);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
}
.achievements2 {
  width: 316px;
}
.links {
  position: absolute;
  top: 68px;
  right: 37px;
  width: 324px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 60px;
  box-sizing: border-box;
  font-size: 1.2vw; /* relative units */

}
@media (max-width: 1024px) {
  .links {
    width: 40%;
    font-size: 1.5vw; /* medium screens */
    top: 68px; /* top positioning */
  }
}


.footersectParent {
  width: 100%;
  position: relative;
  background-color: #0e0e0e;
  height: 15678px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-109xl);
  color: var(--color-white);
  font-family: var(--font-silka);
}



/* .Xslider {
  position: absolute;
  top: 6143px;
  left: calc(50% - 4082px);
  line-height: 50px;
  font-weight: 900;
} */
