.myAchievements {
    width: 80vw;
    position: relative;
    line-height: 3rem;
    display: inline-block;
    flex-shrink: 1;
  }
  .clickToExpand {
    position: relative;
    line-height: 1.5rem;
  }
  .clickToExpand1 {
    position: relative;
    line-height: 1.5rem;
    left: 1rem;
  }
  .click {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    color: gray;
  }
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }
  .silverIcon {
    width: 6vw;
    position: relative;
    height: auto;
    /* left: 7px; */
    /* object-fit: cover; */
  }
  .silverMedal2nd {
    margin: 0;
  }
  .silverMedal2ndContainer {
    width: 60vw;
    position: relative;
    line-height: 3rem;
    display: inline-block;
    height: auto;
    flex-shrink: 0;
  }
  .content,
  .div {
    display: flex;
    align-items: center;
  }
  .content {
    width: 75vw;
    border-radius: 1.5rem;
    background: linear-gradient(89.28deg, #454545, #13002c);
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.5rem; 
  }
  .div {
    width: 95vw;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  .bronzeMedal3rd {
    flex: 1;
    position: relative;
    left: 0.5rem;
    line-height: 3rem;
  }
  .bronzeParent {
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }
  .image94Icon {
    width: 6vw;
    position: relative;
    border-radius: 1.5rem;
    height: auto;
    object-fit: cover;
  }
  .indiaRank {
    width: 45vw;
    position: relative;
    line-height: 3rem;
    display: inline-block;
    height: auto;
    flex-shrink: 0;
  }
  .whatsappImage20240515At2 {
    width: 30vw;
    position: relative;
    border-radius: 1.5rem;
    height: auto;
    object-fit: cover;
  }
  .content1,
  .div2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
  }
  .content1 {
    align-self: stretch;
    border-radius: 1.5rem;
    background: linear-gradient(81.63deg, #454545, #13002c);
    height: 624px;
    justify-content: center;
    font-size: 1.5rem;
    top: -11.3rem;
  }
  .div2 {
    width: 95vw;
    height: 887px;
    justify-content: space-between;
  }
  .whatsappImage20240515At21,
  .whatsappImage20240515At22 {
    width: 30vw;
    position: relative;
    border-radius: 1.5rem;
    height: auto;
    object-fit: cover;
  }
  .whatsappImage20240515At22 {
    width: 35vw;
  }
  .content2,
  .div4,
  .div9 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .div9 {
    flex-direction: row;
    gap: 1rem;
  }
  .content2,
  .div4 {
    flex-direction: column;
  }
  .content2 {
    align-self: stretch;
    border-radius: 1.5rem;
    background: linear-gradient(77.33deg, #454545, #13002c);
    gap: 1rem;
    font-size: 1.5rem;
  }
  .div4 {
    width: 95vw;
    top: -11.3rem;
    gap: 1rem;
  }
  .rectangleDiv {
    width: 18vw;
    position: relative;
    border-radius: 1rem;
    background-color: var(--color-darkslategray);
    height: 0.2rem;
  }
  .silverMedal2ndContainer1 {
    width: 60vw;
    position: relative;
    line-height: 3rem;
    display: inline-block;
    height: auto;
    flex-shrink: 0;
  }
  .div11 {
    width: 95vw;
    height: 191px;
    display: flex;
    position: relative;
    top: -12.6rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .groupChild {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1.5rem;
    background-color: gray;
    width: 6vw;
    height: 4.63rem;
  }
  .div20 {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: calc(50% - 1.5rem);
    line-height: 3rem;
  }
  .rectangleParent {
    width: 80px;
    position: relative;
    height: 80px;
  }
  .currentInternationalRank {
    flex: 1;
    position: relative;
    font-size: 1.5rem;
    line-height: 3rem;
    color: var(--color-white);
  }
  .content4,
  .div19 {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }
  .div19 {
    width: 95vw;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    color: #29ff7e;
  }
  .content4 {
    align-self: stretch;
    border-radius: 1.5rem;
    background: linear-gradient(86.17deg, #454545, #13002c);
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
  }
  .div13 {
    width: 95vw;
    align-items: center;
    gap: 1rem;
    top: -11.3rem;
  }
  .achievements,
  .div13,
  .stats {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
  }
  .stats {
    margin: 0;
    align-items: flex-end;
    gap: 9.4rem;
  }
  .achievements {
    position: absolute;
    top: 6.4rem;
    left: 35vw;
    width: 80vw;
    align-items: center;
    gap: 7rem;
  }
  .achinfo,
  .midinfo {
    height: 254.25rem;
    overflow: hidden;
  }
  .achinfo {
    position: absolute;
    top: -4.3rem;
    transform: translateX(-32.4%);
    width: 148vw;
  }
  .midinfo {
    width: 100%;
    max-width: 90vw;
    background-color: var(--color-gray-200);
    text-align: left;
    font-size: calc(16px + 2vw);
    color: var(--color-white);
    font-family: var(--font-silka);
  }
  