.div {
  position: absolute;
  top: 143px;
  left: calc(50% - 4017px);
  line-height: 24px;
  font-weight: 900;
}
.groupChild,
.groupItem {
  position: absolute;
  background-color: var(--color-white);
}
.groupChild {
  top: 45px;
  left: 124px;
  border-top: 10px solid var(--color-white);
  box-sizing: border-box;
  width: 8051px;
  height: 10px;
}
.groupItem {
  top: 25px;
  left: 57px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.groupInner {
  top: 0;
  left: 32px;
  border-radius: 50%;
  border: 10px solid var(--color-white);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}
.div1,
.groupInner,
.parent {
  position: absolute;
}
.parent {
  width: 8164px;
  margin: 0 !important;
  top: 0px;
  left: calc(50% - 4212.5px);
  height: 193px;
  z-index: 0;
}
.div1 {
  top: 136px;
  left: calc(50% - 85px);
  line-height: 50px;
  font-weight: 900;
}
.ellipseDiv,
.groupChild1 {
  position: absolute;
  border-radius: 50%;
}
.ellipseDiv {
  top: 25px;
  left: 60px;
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
}
.groupChild1 {
  top: 0;
  left: 35px;
  border: 10px solid var(--color-white);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}
.container,
.group {
  width: 170px;
  position: relative;
  height: 186px;
  z-index: 1;
}
.container {
  z-index: 2;
}
.div3 {
  position: absolute;
  top: 136px;
  left: calc(50% - 91px);
  line-height: 50px;
  font-weight: 900;
}
.groupChild4,
.groupChild5 {
  position: absolute;
  border-radius: 50%;
}
.groupChild4 {
  top: 25px;
  left: 66px;
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
}
.groupChild5 {
  top: 0;
  left: 41px;
  border: 10px solid var(--color-white);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}
.groupDiv {
  width: 182px;
  position: relative;
  height: 186px;
  z-index: 3;
}
.div4 {
  position: absolute;
  top: 136px;
  left: calc(50% - 83.5px);
  line-height: 50px;
  font-weight: 900;
}
.groupChild6,
.groupChild7 {
  position: absolute;
  border-radius: 50%;
}
.groupChild6 {
  top: 25px;
  left: 58px;
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
}
.groupChild7 {
  top: 0;
  left: 33px;
  border: 10px solid var(--color-white);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}
.parent1 {
  width: 167px;
  position: relative;
  height: 186px;
  z-index: 4;
}
.div5 {
  position: absolute;
  top: 136px;
  left: calc(50% - 88.5px);
  line-height: 50px;
  font-weight: 900;
}
.groupChild8,
.groupChild9 {
  position: absolute;
  border-radius: 50%;
}
.groupChild8 {
  top: 25px;
  left: 63px;
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
}
.groupChild9 {
  top: 0;
  left: 38px;
  border: 10px solid var(--color-white);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}
.parent2 {
  width: 177px;
  position: relative;
  height: 186px;
  z-index: 5;
}
.div6 {
  position: absolute;
  top: 136px;
  left: calc(50% - 89.5px);
  line-height: 50px;
  font-weight: 900;
}
.groupChild10,
.groupChild11 {
  position: absolute;
  border-radius: 50%;
}
.groupChild10 {
  top: 25px;
  left: 64px;
  background-color: var(--color-white);
  width: 50px;
  height: 50px;
}
.groupChild11 {
  top: 0;
  left: 39px;
  border: 10px solid var(--color-white);
  box-sizing: border-box;
  width: 100px;
  height: 100px;
}
.parent3,
.parent4 {
  width: 179px;
  position: relative;
  height: 186px;
  z-index: 6;
}
.parent4 {
  z-index: 7;
}
.groupParent {
  position: absolute;
  top: 6230px;
  left: 357px;
  width: 8425px;
  height: 192px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 734px;
  box-sizing: border-box;
  gap: 863px;
  font-size: var(--font-size-47xl);
  color: var(--color-white);
}
.iStartedMy,
.rajivDixit {
  align-self: stretch;
  position: relative;
  line-height: 50px;
}
.iStartedMy {
  font-size: var(--font-size-17xl);
  color: var(--color-darkslategray-100);
}
.div10,
.div11,
.div8,
.div9 {
  position: absolute;
  top: 6417px;
  left: calc(50% - 467px);
  border-radius: var(--br-17xl);
  background: linear-gradient(115.52deg, #cacff9, #f5cbd9 54%, #f4bccd);
  width: 542px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-41xl);
  box-sizing: border-box;
  gap: var(--gap-21xl);
}
.div10,
.div11,
.div9 {
  left: calc(50% - 3334.5px);
}
.div10,
.div11 {
  left: calc(50% - 1258.5px);
}
.div11 {
  top: 519px;
  left: calc(50% + 2889.5px);
}
.xslider {
  width: 9073px;
  background-color: var(--color-black);
  max-width: 100%;
  height: 1583px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
