.timeline{
    position: absolute;
    max-width: 1200px;
    margin: 100px auto;
    top: 6000px;
}
.containerLeft{
    left: 0;
    padding: 10px 50px;
    position: relative;
    width: 50%;
    background: rgba(0, 0, 0, 0.3);
}
.containerRight{
    left: 54%;
    padding: 10px 50px;
    position: relative;
    width: 45%;
    background: rgba(0, 0, 0, 0.3);
}
.textbox{
    padding: 20px 30px;
    background: #fff;
    position: relative;
    border-radius: 7px;
    font-size: 17px;
}
.h2{
    font-weight: bolder;
    font-size: 30px;
}
.small{
font-style: italic;
}
.p{
    font-size: 17px;
    font-weight: bold;
}

  .elipse {
    top: 42%;
    right: 0;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 42px;
    height: 37.5px;
  }
.elipseRt{
    left: 0;
    top: 42%;
    z-index: 10;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    width: 42px;
    height: 37.5px;
  }